:host {
    padding: 0 !important;
    label {
        font-size: inherit !important;
        color: inherit !important;
        small {
            font-size: inherit !important;
            color: inherit !important;
        }
    }
    &.label-mandatory {
        label{
            &:not(.empty) {
                &::after {
                    content: "*";
                    color: var(--invalid);
                    padding: 0px 4px;
                    font-size: 16px;
                    vertical-align: top;
                }
            }
        }
    }
}