
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import "primeicons/primeicons.css";

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flag {
  background: url("https://primefaces.org/cdn/primeng/images/flag/flags_responsive.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 1.33rem;  /* default width */
  height: 1rem;   /* default height */
}

.flag-us {
  background-position: 0 93.38843%;
}

.flag-mx {
  background-position: 0 61.570248%;
}

.flag-co {
  background-position: 0 19.421488%;
}

.form-group {
  display: flex;
  flex-direction: column;
}
